<h1>SqlToTableData Demo: Angular front-end</h1>

<p>This example code demonstrates use of the SqlToTableData package. Angular front-end app calls an API to pull and present SQL query results in a sortable table format.</p>

<nav style="text-align: center">
  <a routerLink="/classic">Classic approach calling API that uses Entity Framework to get results</a>
  <br />
  <a routerLink="/sqltotabledata">Dynamic table from API using SqlToTableData package</a>
  <br />
  <a routerLink="/sqltotabledatawithparams">Dynamic table from API using SqlToTableData package and with parameters</a>
</nav>
<router-outlet></router-outlet>
